In [248]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## Import data

In [241]:
movies = pd.read_csv("ml-25m/movies.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

## Data Wrangling

In [242]:
# replace missing genre with np.nan
movies["genres"] = movies["genres"].replace("(no genres listed)", np.nan)
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),NaN
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [243]:
# count amount of nan
movies.isna().sum()

movieId       0
title         0
genres     5062
dtype: int64

In [244]:
# extract year
movies['year'] = movies['title'].str.extract(r"\((\d{4})\)")
movies

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995
...,...,...,...,...
62418,209157,We (2018),Drama,2018
62419,209159,Window of the Soul (2001),Documentary,2001
62420,209163,Bad Poems (2018),Comedy|Drama,2018
62421,209169,A Girl Thing (2001),NaN,2001
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama,1962

In [245]:
# besser wÃ¤re es, die jahren im titel zu finden und dann direkt eine neue spalte zu erstellen 
# UND aus dem titel entfernen.

In [246]:
# remove all nan rows
movies = movies[movies["genres"].notna()]
movies = movies[movies["year"].notna()]

# year to int
movies["year"] = movies["year"].astype("int")

# reorder columns
movies = movies[["movieId", "title", "year", "genres"]]

In [247]:
# filter movies released between 2010 and 2020
movies_2010 = movies.loc[(movies["year"] >= 2010) & (movies["year"] <= 2020)]
movies_2010

,movieId,title,year,genres
14156,73268,Daybreakers (2010),2010,Action|Drama|Horror|Thriller
14161,73319,Leap Year (2010),2010,Comedy|Romance
14162,73321,"Book of Eli, The (2010)",2010,Action|Adventure|Drama
14222,73744,If You Love (Jos rakastat) (2010),2010,Drama|Musical|Romance
14256,73929,Legion (2010),2010,Action|Fantasy|Horror|Thriller
...,...,...,...,...
62406,209131,Last Days of the Arctic (2011),2011,Documentary
62412,209143,The Painting (2019),2019,Animation|Documentary
62413,209145,LibertÃ© (2019),2019,Drama
62418,209157,We (2018),2018,Drama
62420,209163,Bad Poems (2018),2018,Comedy|Drama

In [258]:
movies_2010.genres.str.contains(r'Drama').sum()

7842